.Contactanos{
    display: flex;
    background-color: red;
    color: white;
    padding: 1.5 vw;
}

.images{
width: 50px;
height: auto;
margin-right: 2.5vw;
border: 1px solid red
}
.texto{
    margin-right: 1.5vw;
}

.images2{
    width:45vw;
   height: 45vh;
   object-fit: cover;

}
.Carousel{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
