.Contactanos{
    display: flex;
    background-color: red;
    color: white;
    padding: 1.5 vw;
}

.images{
width: 50px;
height: auto;
margin-right: 2.5vw;
border: 1px solid red
}
.texto{
    margin-right: 2.5vw;
}


